body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 20px;
    border: 5px;
    border-color: black;
    margin: 135px 384px;
}

img{
    width: 100%;
    height: 242px;
}

h1{
    margin-top: 28px;
}

h2{
    margin-bottom: 40px;
    width: 118px;
    height: 28px;
}

div{
    border-radius: 20px;
    width: 480px;
    height: 600px;
    top: 135px;
    left: 384px;
    border: 2px solid black;
    padding: 20px;
}

button{
    background-color: #B7B235;
    border-radius: 20px;
    color: white;
    border: none;
    width: 198px;
    height: 48px;
}

