body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    background-color:#E9EAD7;
    border-radius: 20px;
    width: 392px;
    height: 571px;
    padding: 20px;
    margin: 0;
}

p{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 33px;
}

button{
    color:white;
    background-color: #7A7769;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 42px;
    margin-top: 10px;
    
}