body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.card{
  background-color: #fff;
  border-radius: 15px;
  width: 365px;
  height: 509px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 15px; 
}

img{
    width: 75%;
}

.rol{
  color: gray;
  font-style: italic;
  margin-top: -10px;
}

.insta{
  display: flex;
  justify-content: space-around; 
  width: 100%;
  margin-top: 10px;
}

button{
  background-color: #9d7df5;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.text{
    color: gray;
    font-style: italic;
}
 
.fruits {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}

.fruits div {
  width: 260px;
  text-align: left;
}

.feluri {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}